:root {
  --green-button-bg: hsl(120, 91%, 36%);
  --red-button: red;
  --input-border: hsl(217, 90%, 43%);
  --input-border-active: hsl(217, 90%, 35%);
  --input-bg: hsl(0, 0%, 99%);
  --section-border: 1px solid hsl(240, 83%, 46%);
}

.section-top {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 5px;
  border-bottom: var(--section-border);
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  padding: 2px 10px;

  border: none;
  border-radius: 10px;

  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;

  color: white;

  cursor: pointer;

  transition: 0.3s transform;
}

.add-button svg {
  width: 35px;
  height: 35px;
  transform-origin: center;
  transition: 0.6s transform;
}

.add-button path {
  stroke: white;
}

.add-button:hover svg {
  transform: rotate(90deg);
  transition: 0.4s transform;
}

.add-button:hover {
  transform: translateY(-2px);
}

.education-container {
  display: flex;
  padding: 20px;
}

/* Form & Dialog */

.form-dialog {
  margin: 0 auto;

  border: none;
  border-radius: 10px;

  min-width: 350px;
  max-width: 450px;

  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-buttons button {
  background-color: var(--bg-button);

  border: none;
  border-radius: 5px;
  padding: 5px 10px;

  cursor: pointer;
}

.form-buttons .open-btn {
  border: 1px solid var(--green-button-bg);
}

.form-buttons .close-btn {
  border: 1px solid var(--red-button);
}

.form-buttons .open-btn:hover {
  color: white;
  background-color: var(--green-button-bg);
}

.form-buttons .close-btn:hover {
  color: white;
  background-color: var(--red-button);
}

/* Education Item */

.education-item {
  width: 300px;
  display: flex;
  gap: 3px;
}

.education-number {
  align-self: center;
  font-size: 1.4rem;
}

.education-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 5px;
  border-left: 4px solid black;
}

.education-item:hover .edit-button {
  opacity: 1;
  transform: translateY(-2px);
}

.btn::before {
  border-radius: 10px;
  padding: 1px 10px;
  color: black;
  background: #eaeaea;
  transform: translateY(-38px);
  opacity: 0;
  transition: opacity 0.2s;
}

.btn:hover::before {
  opacity: 1;
}

.edit-button::before {
  content: "Edit";
}

.edit-button.delete-button::before {
  content: "Remove";
}

.item-button-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
