.job-container {
  display: flex;
  padding: 20px;
}

/* Form & Dialog */

.job-textarea {
  resize: none;
}

.job-textarea {
  border: none;
  border-radius: 10px;
}

.job-textarea {
  font-size: 1rem;

  padding: 8px 10px;
  outline: 1px solid var(--input-border);
  border: none;
  border-radius: 6px;

  background-color: var(--input-bg);
}

.job-textarea:active,
.job-textarea:focus {
  outline-width: 2px;
  outline-color: var(--input-border-active);
}

/* Experience Item */

.job-item {
  width: 300px;
  display: flex;
  gap: 3px;
}

.job-number {
  align-self: center;
  font-size: 1.4rem;
}

.job-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 5px;
  border-left: 4px solid black;
}

.job-item:hover .edit-button {
  opacity: 1;
  transform: translateY(-2px);
}

.btn::before {
  border-radius: 10px;
  padding: 1px 10px;
  color: black;
  background: #eaeaea;
  transform: translateY(-38px);
  opacity: 0;
  transition: opacity 0.2s;
}

.btn:hover::before {
  opacity: 1;
}

.edit-button::before {
  content: "Edit";
}

.edit-button.delete-button::before {
  content: "Remove";
}

.item-button-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
