.section-container {
}

.section-title {
  padding-bottom: 3px;
  border-bottom: var(--section-border);
}

.inputs {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
}

.inputs .info-container {
  flex: 1;
}
