.info-container {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  gap: 10px;
  max-width: 350px;
}

.info-label {
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.general_input {
  border: none;
  border-radius: 10px;

  padding: 8px 10px;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 4px 2px;

  font-weight: 400;
}

.general_input:active,
.general_input:focus {
  outline: 1px solid blue;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px;
}

.infoTitle {
  font-size: 1rem;
  font-weight: bold;
}

.info-label .info {
  text-align: left;
  font-size: 1.2rem;

  padding-bottom: 3px;
  border-bottom: 1px solid black;
}

.edit-button {
  display: flex;
  justify-content: center;

  opacity: 0;
  transform: translateY(2px);

  background-image: url("../assets/edit.svg");

  transition: opacity 0.2s, transform 0.2s;
}

.info-container:hover .edit-button {
  opacity: 1;
  transform: translateY(-2px);
}

.confirm-button {
  flex: 1;
  max-width: 35px;
  background-image: url(../assets/confirm.svg);
}

/* .info-container:hover .confirm-button {
  opacity: 1;
} */

.confirm-button:hover ~ .info-label input {
  outline: 2px solid green;
  box-shadow: none;
}
