.form-label {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form-label input {
  font-size: 1rem;

  padding: 8px 10px;
  border: none;
  outline: 1px solid var(--input-border);

  border-radius: 6px;

  background-color: var(--input-bg);
}

.form-label input:active,
.form-label input:focus {
  outline-width: 2px;
  outline-color: var(--input-border-active);
}
