@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

#root {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* ------------------------------------------------ */

.items-container {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  justify-content: center;
  column-gap: 25px;
  row-gap: 60px;
}

:root {
  --green-button-bg: hsl(120, 91%, 36%);
  --red-button: red;
  --input-border: hsl(217, 90%, 43%);
  --input-border-active: hsl(217, 90%, 35%);
  --input-bg: hsl(0, 0%, 99%);
  --section-border: 1px solid hsl(240, 83%, 46%);
}

.section-top {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 5px;
  margin-bottom: 15px;
  border-bottom: var(--section-border);
}

.btn {
  appearance: none;
  border: none;
  border-radius: 50%;

  padding: 5px 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  padding: 2px 10px;

  border: none;
  border-radius: 10px;

  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;

  color: white;

  cursor: pointer;

  transition: 0.3s transform;
}

.add-button svg {
  width: 35px;
  height: 35px;
  transform-origin: center;
  transition: 0.6s transform;
}

.add-button path {
  stroke: white;
}

.add-button:hover svg {
  transform: rotate(90deg);
  transition: 0.4s transform;
}

.add-button:hover {
  transform: translateY(-2px);
}

.item-button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
